accelerate
aiofiles
aiosqlite
datasets
einops
evaluate
fastapi
loralib
nvidia-ml-py3
packaging
psutil
py7zr
pydantic>= 2.0
python-multipart
rouge-score
scipy
sentencepiece
tensorboard
tensorboardX
tiktoken
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.50.0
peft
watchfiles
wandb==0.19.8
tensorboardX
werkzeug
sqlalchemy[asyncio]
sentence-transformers
git+https://github.com/transformerlab/FastChat