accelerate
aiofiles
aiosqlite
bitsandbytes
datasets
einops
evaluate
fastapi==0.100.0
fschat==0.2.35
loralib
nvidia-ml-py3
packaging
psutil
py7zr
pydantic>=1.4.0,<2
python-multipart
rouge-score
scipy
sentencepiece
tensorboard
tiktoken
torch
torchaudio
torchvision
transformers==4.38.2
peft
