accelerate
aiofiles
aiosqlite
datasets
einops
evaluate
fastapi
loralib
nvidia-ml-py3
packaging
psutil
py7zr
pydantic>= 2.0
python-multipart
rouge-score
scipy
sentencepiece
tensorboard
tensorboardX
tiktoken
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
transformers==4.51.3 
peft
watchfiles
wandb==0.19.10
tensorboardX
werkzeug
sqlalchemy[asyncio]
sentence-transformers
markitdown[all]
hf_xet
macmon-python
pyrsmi
transformerlab-inference
